<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="heading-box" style="width: 80%;"><h2 class="heading">Car List</h2></div>
    <div class ='car-box' style="width: 80%; height: 90%;">
    <div class="car-grid">
    <li>
        <a href="/cars/<%-car[0].id%>">
                <div class="car-link">
            <h3><%-`${car[0].year} ${car[0].make} ${car[0].model}`%><h3>
            </div>
            </a>
        <div class="car-data">
        <p>City MPG: <%-car[0].city_mpg%></p>
        <p>Class: <%-car[0].class%></p>
        <p>Combo MPG: <%-car[0].combination_mpg%></p>
        <p>Cylinders: <%-car[0].cylinders%></p>
        <p>Drive Type: <%-car[0].drive%></p>
        <p>Fuel Type: <%-car[0].fuel_type%></p>
        <p>Highway MPG: <%-car[0].highway_mpg%></p>
        <p>Transmission: <%-car[0].transmission%></p>  
        </div>
        </li>
    </div>
    </div>
 </body>
</html>