<%- include('./partials/head') %>
<body>
  <%- include('./partials/nav') %>
  <div class="heading-box"><h2 class="heading">Featured Cars</h2></div>
  <section class="car-box">
      <ul class="car-grid">
        <% for (let car of cars) { %>
          <li>
            <figure>
              <!-- car image -->
            </figure>
            <figcaption class="featured-info">
              <a href="/cars/<%- car.id %>">
              <div>
              <img  class="car-image" src=<%- car.car_image %>>
              <h3 class="featured-heading"><%- car.year %> <%- car.make %> <br> <%- car.model %></h3>
              </div>
              </a>
            </figcaption>
          </li>
        <% } %>
      </ul>
    </section>
      <form action="/search/" method="POST" class="form-box" style="width: 70%;">
        <div class="form-top">
          <p class="form-tag">Form</p>
        </div>
        <section class="form-options">
          <div>
        <label class="lbl" for = 'year'>Year (1985-2023)</Label>
        <input type = 'number' id = 'year' name = 'year' min = 1985 max = 2023 value="2023">
        </div>
        <div>
        <label class="lbl" for = 'make'>Make</Label>
        <input type = 'text' id = 'make' name = 'make'>
        </div>
        <div>
        <label class="lbl" for = 'model'>Model</Label>
        <input type = 'text' id = 'model' name = 'model'>
        </div>
        <div>
        <label class="lbl" for = 'min_combo_mpg'>Overall Minimum MPG</Label>
        <input type = 'number' id = 'min_combo_mpg' name = 'min_combo_mpg' min=0>
        </div>
        <div>
        <label class="lbl" for = 'min_city_mpg'>City Minimum MPG</Label>
        <input type = 'number' id = 'min_city_mpg' name = 'min_city_mpg' min=0>
        </div>
        <div>
        <label class="lbl" for = 'min_hwy_mpg'>Highway Minimum MPG</Label>
        <input type = 'number' id = 'min_hwy_mpg' name = 'min_hwy_mpg' min=0>
        </div>
        <div>
        <label class="lbl" for = 'cylinders'>Cylinder</Label>
        <input type = 'number' id = 'cylinder' name = 'cylinder' min=0 max=16>
        </div>
        <div>
        <label class="lbl" for = 'transmission'>Transmission Type (m for manual, a for automatic)</Label>
        <input type = 'text' id = 'transmission' name = 'transmission'>
        </div>
        <div>
        <label class="lbl" for = "fuel_type">Fuel Type (gas, diesel, electricity)</Label>
        <input type = 'text' id = 'fuel_type' name = 'fuel_type'>
        </div>
        <div>
        <label class="lbl" for = "drive">Drive Type  (fwd (front-wheel drive), rwd (rear-wheel drive), awd (all-wheel drive), 4wd (four-wheel drive))</Label>
        <input type = 'text' id = 'drive' name = 'drive'>
        </div>
        </section>
        <div class="form-end">
          <p class="crsr">></p>
        <input type="submit" class="btn" value="Search">
        </div>
    </form>
</body>
</html>