<%- include('./partials/head') %>
<body>
  <%- include('./partials/nav') %>
  <div class="heading-box"><h2 class="heading">Featured Cars</h2></div>
  <section class="car-box">
      <ul class="car-grid">
        <% for (let car of cars) { %>
          <li>
            <figure>
              <!-- car image -->
            </figure>
            <figcaption class="featured-info">
              <a href="/cars/<%- car.id %>">
              <div>
              <img  class="car-image" src=<%- car.car_image %>>
              <h3 class="featured-heading"><%- car.year %> <%- car.make %> <br> <%- car.model %></h3>
              </div>
              </a>
            </figcaption>
          </li>
        <% } %>
      </ul>
    </section>
</body>
</html>